<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/news">홈</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/economy">economy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/society">society</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">사용안함</a>
    </li>
  </ul>