<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Index</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">하비모아</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">메인<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">취미 취향 테스트</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        1번 드롭다운
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2번 드롭다운
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        <div class="row">
         <div class="coll-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="static/고양이1.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">궁디팡팡 고양이</h5>
                  <p class="card-text">고양이는 왜 궁디팡팡을 좋아할까?</p>
                  <a href="#" class="btn btn-primary">더 알아보기</a>
                </div>
            </div> 
          </div>
              
                <div class="coll-sm-3">
                   <div class="card" style="width: 18rem;">
                       <img src="static/고양이2.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                       <div class="card-body">
                         <h5 class="card-title">한국의 길냥이</h5>
                         <p class="card-text">고등어 태비의 매력</p>
                         <a href="#" class="btn btn-primary">더 알아보기</a>
                       </div>
                   </div> 
                 </div>
               
                    <div class="coll-sm-3">
                       <div class="card" style="width: 18rem;">
                           <img src="static/고양이4.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                           <div class="card-body">
                             <h5 class="card-title">타버린 빵</h5>
                             <p class="card-text">샴고양이의 손끝</p>
                             <a href="#" class="btn btn-primary">더 알아보기</a>
                           </div>
                       </div> 
                     </div>
                

                  <div class="coll-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/고양이3.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">응시하는 고양이</h5>
                          <p class="card-text">고양이들의 눈에 대하여</p>
                          <a href="#" class="btn btn-primary">더 알아보기</a>
                        </div>
                    </div> 
                  </div>
            </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
