<form method="post" action="signup-process">
    <h1>Sign up here</h1>
    <label for="inputEmail">Email address</label>
    <input type="email" name="email" placeholder="Email address" required
   autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" placeholder="Password" required>
    <label for="inputName">Full Name</label>
    <input type="text" name="fullname" placeholder="Jane Doe" required>
    <button type="submit">Sign up</button>
   </form>